<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="INFO6255 Selenium Test Suite" verbose="1">

    <test name="Scenario 2 - Canvas Calendar Events">
        <classes>
            <class name="tests.Scenario2Test"/>
        </classes>
    </test>

    <test name="Scenario 5 - Academic Calendar">
        <classes>
            <class name="tests.Scenario5Test"/>
        </classes>
    </test>

</suite>