<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="INFO6255 Selenium Suite" verbose="1">

    <test name="Scenario 2">
        <classes>
            <class name="tests.Scenario2Test"/>
        </classes>
    </test>

    <test name="Scenario 4 Negative">
        <classes>
            <class name="tests.Scenario4Test"/>
        </classes>
    </test>

    <test name="Scenario 5">
        <classes>
            <class name="tests.Scenario5Test"/>
        </classes>
    </test>

</suite>